<!DOCTYPE>
<html ng-app ="myApp">
	<head>
		<title>Event Handling</title>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
			<script src="main.js"></script>
	</head>
	<body ng-controller= "myController as myCtl">

		<button ng-click='myCtl.message()'>Click me</button>
			<h1>{{myCtl.stuff}}</h1>

		<button ng-click='myCtl.betterCars()'>Click me too</button>

			<ol ng-show='myCtl.showcars'>
				<li>Ford</li>
				<li>Chevy</li>
				<li>BMW</li>
			</ol>

			<button ng-click='myCtl.counting()'>Click me too.also</button>
			<ol>
				<li ng-show='myCtl.counter >= 1'>Ford</li>
				<li ng-show='myCtl.counter >= 2'>Chevy</li>
				<li ng-show='myCtl.counter >= 3'>BMW</li>
			</ol>
					
	</body>
</html>